<%- include('includes/head.ejs') %>
    </head>

    <body>
        <form action="/home" method="GET">
            <button type="submit">Go To Home Page</button>
        </form>
        <h1>Page Not Found!</h1>

        <%- include('includes/end.ejs') %>