<%- include('includes/head.ejs') %>
</head>
<body>
    <h1 align=" center">Add Location</h1>
    <form align=" center" action="/add-location" method="POST">
        <label for="location">Location</label><br>
        <input type="text" id="location" name="location" ><br><br>
        <button type="btn">Add</button>
      </form>
      

<%- include('includes/end.ejs') %>