<%- include('includes/head.ejs') %>
  </head>

  <body>
    <form action="/home" method="GET">
      <button type="submit">Go To Home Page</button>
    </form>
    <h1 align=" center">Add Customer</h1>
    <form align=" center" action="/add-customer" method="POST">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email"><br>
      <label for="phoneNumber">Phone Number</label><br>
      <input type="text" id="phoneNumber" name="phoneNumber"><br><br>
      <button type="submit">Add</button>
    </form>

    <%- include('includes/end.ejs') %>