<%- include('includes/head.ejs') %>
</head>
<body>
    <h1 align=" center">Add Shot Type</h1>
    <form align=" center" action="/add-shot-type" method="POST">
        <label for="shotType">Shot Type</label><br>
        <input type="text" id="shotType" name="shotType" ><br><br>
        <button type="btn">Add</button>
      </form>
      

<%- include('includes/end.ejs') %>